.nav-bar-container {
    display: flex;
    position: relative;
    background: mediumseagreen;
    width: 100%;
    height: 100px;  
}

.logo {
    width: 120px;
    height: 100px;
    margin: 0px;
    padding-left: 10px;
}

.logo img {
    width: 120px;
    height: 100%;
}

.search-box-container {
    height: 40%;
    width: 30%;

    float: left;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    margin-left: auto;
    margin-right: 20px;
}

.search-box {
    display: inline-block;
    
    height: 100%;
    width: 80%;

    border: 0px;
    border-radius: 10px 0px 0px 10px;

    padding-left: 10px;
    text-align: left;
}

.search-icon {
    display: inline-block;

    height: 100%;
    width: 20%;

}
    

.profile {
    position: relative;
    /* margin-left: auto; */
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: aliceblue;
}

.stat {
    position: relative;
    /* margin-left: auto; */
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: palegreen;
}