.order-container {
	width: 100%;
	display: inline-block;
	background-image: url('../../asset/MainBackground/bgor.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}

.food {
	min-width: 400px;
	width: 400px;
	display: inline-block;
	position: relative;
	padding-top: 130px;
	padding-left: 10%;
	padding-bottom: 25%;
	align-items: center;
}