.order-container {
	width: 100%;
	background-image: url('../../asset/MainBackground/bgor1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 90px;
}

.table-container {
	min-width: 300px;
	width: 20%;
	height: 700px;
	display: inline-table;
	margin-left: 10%;
	align-items: center;
	/*padding-left: 3.3%;
	padding-right: 4%;
	padding-top: 7%;
	padding-bottom: 10%;*/
}

#order-cart tbody {
    display:block;
    max-height: 300px;
    overflow:auto;
}

/* #order-cart thead, #order-cart tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
/*} */

#order-cart tbody tr  {
	border-width: 1px 0px 1px 1px;
}

#order-cart tbody tr  {
	border-width: 1px 1px 1px 0px;
}

#order-cart tbody {
    display:block;
    max-height: 300px;
    overflow:auto;
}

#order-cart thead, #order-table tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;		/* even columns width , fix width of table too*/
}




