.main-content-container {
    width: 100%;
    height: 2000px;
    background-image: url('../../asset/MainBackground/bg1cp.jpeg');  
    background-color: black;
    background-size:100% auto;
    background-repeat: no-repeat;
}