.coming-container {
	width: 550px;
	position: relative;
	display: inline-block;
	color: aliceblue;
	font-family: arial, sans-serif;
	background-color: rgba(255, 255, 255, 0.281);
	border-radius: 2%;
	margin-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
}