.carousel-container {
    height: 600px;
    background-color: black;
    box-sizing: border-box;
}

.carousel {
    width:60%;
    height:600px;
    margin: auto;
}

.carousel-inner {
    height: 600px;
}
