#Menu td{
    font-size: 18px;
    border: 1px solid #ddd;
    padding: 8px;

    /*width: 500px;*/
}

#Menu th {

    padding-top: 12px;
    padding-bottom: 12px;
    
    color: white;
    font-size: 20px ;
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;

    position: sticky;

    /*vertical-align: bottom;*/
    /*background-color: #38573d;*/
}

#Menu thead,tbody{
    table-layout:fixed;	
}


/*
#Menu thead{
    width: 100%;
    display:table;
}
*/

/*
.scroll{
    width: 100%;
    max-height: 400px;
    display: inline-block;
    overflow-y: scroll;
}
*/


.bill-table {
    width: 80%;
    height: 400px;
    background-color: hsl(0, 0%, 36%, 0.4);;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    
    max-height: 400px;
    display: inline-block;
    overflow-y: scroll;
    
    /*display: block;*/
    /*overflow-y:auto;*/
    /*width: 102.1%;*/
}

.bill-table::-webkit-scrollbar {
	width: 10px;
}

.bill-table::-webkit-scrollbar-thumb {
	background-color: lightslategray;
}

.bill-table::-webkit-scrollbar-track {
	background-color: dimgray;
}

/*
.head-table{
    width: 100%;
    position: sticky;
    top: 0;
}
*/

.menu-head{
    width: 55%;
}

.price-head{
    width: 15%;
    text-align: center;
  
}

.amount-head{
    width: 15%;
    text-align: center;
}

.total-head{
    width: 15%;
    text-align: center;
}

.menu{
    width: 55%;
}

.price{
    width: 15%;
    text-align: center;
}

.amount{
    width: 15%;
    text-align: center;
}

.total{
    width: 15%;
    text-align: center;
}

.total-table {
    width: 21%;
    height: auto;
    left: 79%;
    transform: translateX(-50%);
    position: relative;
    text-align: center;

	/*display: inline-block;*/
}

#Total td{
    border: 1px solid #ddd;
    padding: 10px;
}

/*
#Total th{
    font-size: 20px ;
    border: 1px solid #ddd;
    padding: 10px;
}
*/

/*button*/
.print-button { 
	background-color: #38573d;
	color: white;
	border: none;
	padding: 5px 1px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	border-radius: 5px;
    margin-left: 74%;
    margin-right: 15%;
}

.print-button:hover{
    cursor: pointer;

    color: #fff;
    box-shadow:
        
        0 0 10px #fff,
        0 0 20px blanchedalmond;
}
