.tably {
	color: aliceblue;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	background-color: rgba(0, 0, 0, 0.438);
}

th.col1 {
	width: 60%;
	padding-bottom: 6px;
	padding-top: 6px;
	text-align: center;
}

.image {
	max-width: 17px;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
	opacity: 0.4;
	cursor: pointer;
}

.image:hover {
	opacity: 10;
}

th.col2 {
	width: 130px;
	text-align: center;
}

.or {
	text-align: left;
	padding: 5px;
	border: 1px solid #dddddd;
}

td.data {
	text-align: center;
	border: 1px solid #dddddd;
}

thead.FOOD {
	background-color: #38573d;
	border: 5px solid #38573d;
}

thead.DRINK {
	background-color: #8c6e4b;
	border: 5px solid #8c6e4b;
}

thead.CART {
	background-color: rgb(38, 38, 38);
	border: 5px solid rgb(38, 38, 38);
}

thead.TABLE {
	background-color: rgb(38, 38, 38);
	border: 5px solid rgb(38, 38, 38);
}