table {
	color: aliceblue;
	font-family: arial, sans-serif;
	border-collapse: collapse;
}

.or {
	text-align: left;
	padding-right: 30px;
}

td {
	text-align: center;
	border: 1px solid #dddddd;
}

thead {
	background-color: darkolivegreen;
	border: 5px solid darkolivegreen;
}