.myfav-main-container {
	width: 100%;
	background-size: 100% 50%;
	background-repeat: repeat;
	padding-top: 40px;
	display: block;
}

.myfav-container {
	width: 825px;
	height: auto;
	position: relative;
	display: inline-block;
	color: aliceblue;
	text-align: center;
	font-family: arial, sans-serif;
	padding-bottom: 60px;
	left: 50%;
	transform: translateX(-50%);
}

.hrcss {
	color: #434343;
	border-top: 1.5px solid #434343;
}

.imgShop {
	width: 450px;
	height: 225px;
	border: 1px solid #7a7a7a;
	margin-top: 6px;
	margin-bottom: 10px;
}

.heart {
	width: 35px;
	height: 35px;
	float: left;
	margin-top: 5px;
	cursor: pointer;
}

.left-container {
	/*background-color: rgba(137, 43, 226, 0.205);*/
	height: auto;
	width: auto;
	float: left;
	padding-top: 25px;
}

.right-container {
	/*background-color: rgba(0, 255, 255, 0.226);*/
	height: auto;
	width: 360px;
	float: left;
	padding-top: 25px;
	margin-left: 15px;
}

.right-container>div,
.left-container>div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*background-color: DodgerBlue;*/
	text-align: left;
}

.learnBox {
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 14px;
	color: #9b8a75;
	border: 1px solid #9b8a75;
	background-color: #262626;

	margin-top: 10px;
	margin-bottom: 10px;
}

.detailShop {
	font-size: 12px;
}

.three-button {    /*Save My Favourite*/
    background-color: #38573d;
    color: white;
    border: none;
    padding: 5px 1px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 74%;
    margin-right: 3%;
}

.three-button:hover{
    cursor: pointer;

    color: #fff;
    box-shadow:
        
        0 0 10px #fff,
        0 0 20px blanchedalmond;
}
