.view-branch-big-pic {
    width: 100%;
    height: 600px;
    display: flex;
    
	background-size: cover;
	background-repeat: no-repeat;
    
    background-image: url('../../asset/MainBackground/bgor.jpeg');
}